{%extends 'owner/layout.html'%}

{%block body%}
<style>
    .card-item{
        padding:0;
    }
    .table{
        padding:10px;
        position:relative;
        border: 1px;
        display: block;

    }
    table th{
        padding:10px; 
        border-radius:1px;        
    }
</style>

<div class="row">
    <div class="col-1">
        <div class="card">
            <h2>Menu</h2>
        </div>
        <div class="card-item">
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Category</th>
                </tr>
                {%for i in menu%}
                    <tr>
                    {{i.Menu_id}}
                    {{ i.Name }}
                    {{i.Price}}
                    {{i.category}}
                    </tr>
                {%endfor%}
            </table>
        </div>
        
    </div>
</div>
{%endblock%}